data/latex/**/*.pdf
data/latex/**/*.out
data/latex/**/*.aux
data/latex/**/*.toc
data/latex/**/*.nav
data/latex/**/*.log
data/latex/**/*.synctex
data/latex/**/*.synctex.gz
data/latex/**/*.fdb_latexmk
data/latex/**/*.fls
data/latex/**/*.synctex(busy)

data/latex/catalogues/*.json
data/latex/catalogues/enonces.tex
data/latex/flash/previews

data/graphics/pdf
data/tmp

output
dist
build
.venv
**/__pycache__/

data/graphics/gif/data/*
!data/graphics/gif/data/.gitkeep
src_ap/logs
data/graphics/*.db
data/graphics/*.db-wal
data/graphics/*.db-shm
data/graphics/.nextcloudsync.log
.github